* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden; 
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.parent-container {
  height: 100dvh;
  width: 100vw;
  background-color: hsl(225, 45%, 12%);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 24px;
  height: 72px;
  justify-content: space-between;
}

.logo-container p {
  font-size: 24px;
  font-weight: 600;
  color: white;
  align-self: center;
}

.logo {
  height: 36px;
  width: auto;
  will-change: filter;
  transition: filter 300ms;
  align-self: center;
}

.main-screen {
  display: flex;
  width: 100%;
  gap: 16px;
  padding-inline: 16px;
  align-items: stretch;
}

.table-tab {
  width: 100%;
  height: 620px;
  border-style: solid;
  border-color: hsl(225, 16%, 70%);
  border-width: 1.25px;
  border-top: 12px solid hsl(225, 16%, 70%);
  background-color: hsl(225, 60%, 18%);
  display: flex;
}

.table-1,
.table-2 {
  display: grid;
  width: 50%;
  height: min-content;
  grid-template-columns: repeat(1, 1fr);
}

.table-1 {
  border-right: 1.25px solid hsl(225, 16%, 70%)
}

.table-1 div,
.table-2 div {
  display: flex;
  height: 42px;
  justify-content: space-between;
  align-items: center;
}

.table-1 div {
  padding-right: 24px;
  padding-left: 16px;
}

.table-2 div {
  padding-left: 24px;
  padding-right: 16px;
}

.table-1 div:nth-child(2n),
.table-2 div:nth-child(2n) {
  background-color: hsl(225, 60%, 21%);
}

.table-1 p {
  font-size: 16px;
  margin: 0 !important;
  margin-block-end: 0;
  margin-block-start: 0;
}

.data-title {
  color: hsl(205, 100%, 65%);
  font-weight: 700;
}

.data-value {
  color: white;
  font-weight: 500;
}

.procedure-list {
  width: 80%;
  height: 620px;
  border-style: solid;
  padding-inline: 16px;
  border-color: hsl(225, 16%, 70%);
  border-width: 1.25px;
  border-top: 12px solid hsl(225, 16%, 70%);
  background-color: hsl(225, 60%, 18%);
}

.procedure-list h3,
.command-list h3 {
  color: white;
  font-weight: 600;
  text-align: start;
  color: white;
}

.command-list {
  width: 100%;
  height: 620px;
  border-style: solid;
  border-color: hsl(225, 16%, 70%);
  border-width: 1.25px;
  border-top: 12px solid hsl(225, 16%, 70%);
  background-color: hsl(225, 60%, 18%);
  padding-inline: 16px;
}

.control-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  justify-items: flex-start;
  margin-top: 12px;
  flex-wrap: wrap; 
  gap: 8px;
}

.control-wrapper button {
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 56px;
  background-color: hsl(205, 50%, 40%);
  color: hsl(215, 70%, 88%);
  font-size: 16px;
  font-weight: 600;
  border: 1.5px solid transparent;
}

.control-wrapper button:hover {
  background-color: hsl(205, 50%, 60%);
  border: 1.5px solid transparent;
  outline: none;
}

.control-wrapper button:active {
  background-color: hsl(205, 100%, 52%);
  border: 1.5px solid transparent;
  outline: none;
}

.control-wrapper button:focus {
  border: 1.5px solid transparent;
  outline: none;
}

.control-wrapper .active-button:focus {
  background-color: hsl(205, 100%, 52%);
  color: white;
  outline: none;
}

.control-footer {
  width: 100%;
  margin-top: 32px;
  height: 150px;
  background-color: hsl(225, 12%, 40%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
