* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.parent-container {
  height: 100dvh;
  width: 100vw;
  background-color: hsl(234, 45%, 12%);
}

.logo-container {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-left: 16px;
  margin-right: 24px;
  height: min-content;
  justify-content: space-between;
}

.logo-container p {
  font-size: 24px;
  font-weight: 600;
  color: white;
  align-self: center;
}

.logo {
  height: 40px;
  width: auto;
  will-change: filter;
  transition: filter 300ms;
  align-self: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
